/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  border: 1px solid black;
  border-radius: 90%;
  width: 35%;
}

.main{
  margin-right: 18%;
}

.name{
  text-align: center;
}

.button{
  text-align: center;
}

.carta{
  display: flex;
  justify-content: center; 
}

.imagenes{
  width: 90%;
}