/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo{
  border: 1px solid black;
  border-radius: 90%;
  width: 13%;
}

.name{
  text-align: center;
}

.button{
  text-align: center;
}

.card{
  display: block
}