/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  border: 1px solid black;
  border-radius: 90%;
  width: 35%;
}

.main{
  margin-right: 18%;
}

.name{
  text-align: center;
}

.botones{
  margin: auto;
}

.carta{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
}

.imagenes{
  width: 90%;
}

.formulario{
  display: flex;
  justify-content: center;
}

.submit{
  display: block;
  margin: 2%;
}


.celda{
  margin: 2%;
  border-bottom: 2px solid black;  
}

.aviso{
  text-align: center;
}

.count{
  display: flex;
  justify-content: center;
}

.im{
  margin: 1%;
}

.car{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.compra{
  margin: auto;
}

.nombre{
  text-align: center;
}

.compra{
  margin: 3%;
}